<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store</title>
    <link rel="stylesheet" href="global.css">
    <script src="script.js"></script>
</head>
<body>
    <div>
    <h1>Grocery Store</h1>
</div>
    <hr class="hr-top">
    <div class="container">
        <div id="grocery-list">
            <% groceryItems.forEach(category => { %>
                <h2><%= category.category %></h2>
                <div class="category">
                    <% category.items.forEach(item => { %>
                        <div class="item">
                            <h3 class="price"><%= item.name %></h3>
                            <h3 class="price">$<%= item.price %></h3>
                            <img src="<%= item.picture %>" alt="<%= item.name %>" style="width: 100px;">
                            <button class="cartBtn" onclick="addToCart('<%= item.name %>', '<%= item.price %>', '<%= item.picture %>')">SHOP NOW</button>
                        </div>
                    <% }); %>
                </div>
            <% }); %>
        </div>
        
        <div class="card">
            <h2 class="card-head">Shopping Cart</h2>
            <hr >
            <div id="cart-items">
                <p class="card-empty">Your cart is empty.</p>
            </div>
        </div>
        </div>
    </div>
</body>